body{
    padding: 0px;
    margin: 0px;
}
.header{
    display: flex;
    justify-content: space-between;
    border: 1px solid #000;
}

.header > .logo-container > .logo{
    width: 100px;
    margin-left: 15px;
}

.header > .nav-items > ul > li{
    display: inline-block;
    margin: 10px;
    font-size: 20px;
    padding: 0px 20px;
    line-height: 50px;
}

.res-container{
    display: flex;
    flex-wrap: wrap;
}

.res-card{
    width: 200px;
    padding: 5px;
    margin: 5px;
    background-color: cornsilk;
}

.res-body > .search{
    padding: 10px;
}

.res-card:hover{
    border: 1px solid #444444;
}

.res-card > .res-logo{
    width: 100%;
    height:150px;
}

.res-card > h4{
    margin: 10px;
}